body {
    margin: 0;
    text-align: center;
    font-family: Raleway;
}

.header {
    background-image: url("https://images.unsplash.com/photo-1627232091268-20e5a37c9177?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1229&q=80");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 720px;
    background-size: cover;
}

h1 {
    position: absolute;
    bottom: 350px;
    color: white;
    font-size: 70px;

}

.top-products {
    margin-top: 150px;
}

table {
    margin: auto;
    padding-top: 100px;
    width: 90%;
    margin-bottom: 50px;
}

td {
    width: 350px;
    height: 350px;
    overflow: hidden;
}

td img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: rgb(40, 37, 37);
    position: relative;
}

footer .logo {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

footer .address {
    font-size: 15px;
}

.address p {
    display: inline;
}

footer .message-section {
    margin-top: 20px;
}

.message-section textarea {
    border-radius: 5px;
    font-family: inherit;
    font-weight: bolder;
}

.send-button {
    margin-top: 15px;
    margin-bottom: 10px;
}

.send-button button {
    border-radius: 7px;
    width: 80px;
    padding: 5px;
    font-family: inherit;
    font-weight: bolder;
    cursor: pointer;
}

.product-info {
    margin-top: 20px;
    font-weight: bold;
}

.product-info p {
    font-weight: 100;
    font-weight: bolder;
}

.product-info a {
    text-decoration: none;
    font-size: 14px;
    color: inherit;
}

.product-info .price {
    font-size: 20px;
}

.function-button {
    padding: 10px;
    width: 180px;
    border-radius: 7px;
    color: white;
    background-color: rgb(66, 126, 181);
    border:1px solid rgb(66, 126, 181);
    cursor: pointer;
    font-family: inherit;
    margin-top: 20px;
    font-weight: bolder;
}

.function-input {
    border-radius: 7px;
    margin-top: 90px;
    height: 30px;
    width: 250px;
}

.page-background {
    background-color: rgb(194, 221, 230);
}

.buttons-10-12 {
    margin-bottom: 150px;
}

.img-visibility {
    visibility: hidden;
}

a.amazon-link {
    color: rgb(66, 126, 181)
}